
body{
  background-color: #333940;
  color: #e867ed;
  font-family: sans-serif;
}

.page-title{
  font-size: 50px;
}

.card{

}

.code-card{

}
.card-header{
  
}

.card-body{
  
}

.code-block{

}

.card-column{
  
}

