
body{
  background-color: #333940;
  color: #e867ed;
  font-family: sans-serif;
}

.page-title{
  font-size: 50px;
}

.card{
  border: 3px;
  border-style: dashed;
  margin: 10px;
}

.code-card{

}
.card-header{
  border: solid;
  border-color: white;
  border-radius: 10px;
  position: relative;
  top: -10;
}

.card-body{
  
}

.code-block{

}

.card-column{
  
}

pre:active {
  user-select: all;
}

main{
  display: flex;
}

@media screen and (max-width:576px) {
  section {
      flex-wrap: wrap;
  }
}